{{define "sidebar"}}
<aside class="w-64 bg-white border-r shadow-md hidden md:block h-screen overflow-y-auto" id="sidebar">
  <div class="p-6 text-xl font-bold text-blue-600">관리자 메뉴</div>

  <nav class="px-4" id="sidebar-app" v-cloak>
    <ul class="space-y-2 text-sm">
			{{range .Menus}}
				{{if and (ne .Label "") (ne .Label "없음")}}
					<li>
						<button @click="toggleMenu('{{.ID}}')" class="flex items-center justify-between w-full px-3 py-2 rounded hover:bg-blue-50 font-semibold text-gray-700">
							<span>{{.Label}} </span>
							<span :class="rotateIcon('{{.ID}}')">▶</span>
						</button>
						<ul v-show="isOpen('{{.ID}}')" class="ml-4 mt-1 space-y-1">
							{{range .Items}}
								<li>
									<a :href="{{printf "'%s'" .Href}}" :class="linkClass('{{.Href}}')" class="sidebar-link">
										<span class="">{{.Label}}</span>
									</a>
								</li>
							{{end}}
						</ul>
					</li>
				{{else}}
					{{range .Items}}
						<li>
							<a href="{{.Href}}" class="block px-3 py-2 ">
								<span>{{.Label}}</span>
							</a>
						</li>
					{{end}}
				{{end}}
			{{end}}
    </ul>
  </nav>
</aside>

<style>
  [v-cloak] {
    display: none;
  }

  .sidebar-link {
    @apply block px-3 py-2 rounded hover:bg-blue-50;
  }

  .active-link {
    @apply bg-blue-100 text-blue-700 font-semibold;
  }

  .rotate-90 {
    transform: rotate(90deg);
  }
</style>

<script>
  (function () {
  const { createApp, reactive } = Vue;

  createApp({
    setup() {
      const state = reactive({
        openMenu: '',
        currentPath: window.location.pathname,
      });

      const toggleMenu = (ID) => {
        state.openMenu = state.openMenu === ID ? '' : ID;
      };

      const isOpen = (ID) => state.openMenu === ID;

      const rotateIcon = (ID) => ({
        'transition-transform': true,
        'rotate-90': isOpen(ID),
      });

      const linkClass = (href) => [
        'sidebar-link',
        state.currentPath === href ? 'active-link' : '',
      ];

      return {
        toggleMenu,
        isOpen,
        rotateIcon,
        linkClass,
      };
    }
  }).mount("#sidebar-app");
  })();
</script>
{{end}}
